body {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
  font-family: Arial, sans-serif;
}

canvas {
  background: #222;
  box-shadow: 0 0 20px rgb(255, 80, 252);
}

#score {
  margin-left: 20px;
  font-size: 24px;
  color: rgb(255, 80, 252);
}
